body {
    color: white;
    background-color: rgb(48, 89, 124);
    font-family:Arial, Helvetica, sans-serif ;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

img { 
    width: 150px;
    height: 150px;
}

.center {
    text-align: center;
}

h1 {
    color:rgb(250, 250, 205);
}
img {
    width: 552px;
    height: 552px;
}